
<div class="row">
  <div class="col-lg-4">
    <div class="mb-3">
      <div class="col" style="width: 100%; height: 100%">
        <div class="card" style="width: 100%; height: 50%">
          <img
            class="card-img-top"
            src="https://previews.123rf.com/images/echiechi/echiechi1608/echiechi160800001/65792058-vegetable-garden-farm-farmers-harvest-on-farm-cartoon-characters-vector-design-info-graphic.jpg"
            style="width: 90%; height: 17rem; object-fit: cover"
            alt="Sell Crops Image"
          />
          <div class="card-body">
            <button
              routerLink="/CropOnSale"
              style="background-color: rgb(104, 96, 217); color: white"
              class="btn btn-lg"
              type="button"
            >
              Sell Crops
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="mb-3">
      <div class="col" style="width: 100%; height: 100%">
        <div class="card" style="width: 100%; height: 50%">
          <img
            class="card-img-top"
            src="https://e7.pngegg.com/pngimages/753/826/png-clipart-man-holding-leafed-plant-standing-near-farm-illustration-agriculture-farmer-drawing-organic-farming-picking-vegetables-grass-vegetable-salad.png"
            style="width: 90%; height: 17rem; object-fit: cover"
            alt="View Crops Image"
          />
          <div class="card-body">
            <button
              routerLink="/ViewYourCropOnSale"
              style="background-color: rgb(104, 96, 217); color: white"
              class="btn btn-lg"
              type="button"
            >
              View Crops
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="mb-3">
      <div class="col" style="width: 100%; height: 100%">
        <div class="card" style="width: 100%; height: 50%">
          <img
            class="card-img-top"
            src="https://www.freelanceuk.com/sites/default/files/1.jpg"
            style="width: 90%; height: 17rem; object-fit: cover"
            alt="View Invoice Image"
          />
          <div class="card-body">
            <button
              routerLink="/FarmerInvoice"
              style="background-color: rgb(104, 96, 217); color: white"
              class="btn btn-lg"
              type="button"
            >
              View Invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="col-lg-4">
  <div class="col" style="width: 100%; height: 100">
    <div
      class="card"
      style="width: 100%; height: 50% 4px solid rgb(51, 51, 49)"
    >
      <img
        class="card-img-top align-items-center"
        src="https://png.pngtree.com/png-vector/20190307/ourmid/pngtree-vector-edit-profile-icon-png-image_779322.jpg"
        style="width: 90%; height: 17rem"
        alt="Update Profile Image"
      />
      <div class="card-body">
        <button
          routerLink="/Updateprofile"
          style="background-color: rgb(104, 96, 217); color: white"
          class="btn btn-lg"
          type="button"
        >
          Update Profile
        </button>
      </div>
    </div>
  </div>
</div>
