<!-- <div *ngFor="let item of cropdata" class="container-lg mt-3">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white border rounded">
        <div class="col-lg-4 mt-2">
          <img
            class="img-fluid img-responsive rounded product-image"
            src="{{ item.cropImage }}"
          />
        </div>
        <div class="col-lg-3 mt-5">
          <h4
            style="
              color: rgb(66, 109, 196);
              font-weight: bold;
              text-transform: uppercase;
            "
          >
            {{ item.cropName }}
          </h4>
          <h6 style="text-transform: uppercase">{{ item.cropType }}</h6>

          <div class="d-flex flex-row">
            <div class="mt-1 mb-10 spec-1">
              <span style="color: black">Quantity: </span
              ><span style="color: black">{{ item.cropQty }}</span
              ><span style="color: black"> Kgs</span><span><br /></span>
            </div>
          </div>

          <p class="text-justify text-truncate para mb-0"><br /><br /></p>
        </div>
        <div
          class="align-items-center align-content-center col-md-3 border-left mt-1"
        >
          <div class="d-flex flex-row align-items-center">
            <h4 class="mr-1">Rs.{{ item.cropPrice }}.00</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





 -->


 <div style="width: 100%; background-color: #f2f2f2; padding: 20px; text-align: center;">
  <h2 style="font-weight: bold;">Search Your Crop</h2>
  <input style="margin-left: 20px;" type="text" [(ngModel)]="searchQuery" (input)="search()" placeholder="Search Crop">
  <div *ngIf="isResultVisible">
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let crop of filteredCrops">
          <td>
            <a class="search-results" *ngIf="filteredCrops.length > 0" (click)="selectProduct(crop.cropAdId)">
              {{ crop.cropName }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





 <div *ngFor="let item of cropdata" class="container-lg mt-3">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white border rounded">
        <div class="col-lg-4 mt-2">
          <img
            class="img-fluid img-responsive rounded product-image"
            src="{{ item.cropImage }}"
          />
        </div>
        <div class="col-lg-3 mt-5">
          <h4
            style="
              color: rgb(66, 109, 196);
              font-weight: bold;
              text-transform: uppercase;
            "
          >
            {{ item.cropName }}
          </h4>
          <h6 style="text-transform: uppercase">{{ item.cropType }}</h6>
          <div class="d-flex flex-row">
            <div class="mt-1 mb-10 spec-1">
              <span style="color: black">Quantity: </span
              ><span style="color: black">{{ item.cropQty }}</span
              ><span style="color: black"> Kgs</span><span><br /></span>
            </div>
          </div>
          <p class="text-justify text-truncate para mb-0"><br /><br /></p>
        </div>
        <div
          class="align-items-center align-content-center col-md-3 border-left mt-1"
        >
          <div class="d-flex flex-row align-items-center">
            <h4 class="mr-1">Rs.{{ item.cropPrice }}.00</h4>
          </div>
        </div>
      </div>
