/* body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}.cropsBtn{

    background-color: #49c049;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

* {
  margin-top: 20px;
}

h1 {
  margin-top: 40px;
  color: rgb(4, 55, 75);
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;

}

.flex-child:first-child {
  margin-right: 0px;
}

.card {
  margin-bottom: 10px;
  border: 4px solid #333;
}

.card-img-top {
  margin-left: 20px;
  padding-bottom :1px;
}

.btn {
  background-color: green;
  border-radius: 4px;
  color: beige;
  width: 10rem;
  margin-left: 100px;

}

.btn:hover {
  background-color: rgb(10, 161, 10);
}

.pro {
  align-items: center;
}

.card-title
{
  margin-left: 50px;
}
