

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <div class="col" style="width: 100%; height: 100%">
          <div class="card" style="width: 100%; height: 50%">
            <img
              class="card-img-top"
              src="https://i.pinimg.com/originals/c3/a1/25/c3a125e49a6b0c185511e3292c3e3414.png"
              style="width: 90%; height: 17rem; object-fit: cover"
              alt="Sell Crops Image"
            />
            <div class="card-body">
              <button
                routerLink="/UserStatus"
                style="background-color: rgb(104, 96, 217); color: white"
                class="btn btn-lg"
                type="button"
              >
                Change User Status
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <div class="col" style="width: 100%; height: 100%">
          <div class="card" style="width: 100%; height: 50%">
            <img
              class="card-img-top"
              src="https://w7.pngwing.com/pngs/994/489/png-transparent-chart-computer-icons-report-others-miscellaneous-blue-angle-thumbnail.png"
              style="width: 90%; height: 17rem; object-fit: cover"
              alt="Sell Crops Image"
            />
            <div class="card-body">
              <button
                routerLink="/ReportGenration"
                style="background-color: rgb(104, 96, 217); color: white"
                class="btn btn-lg"
                type="button"
              >
                Generate Reports
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

